

/** INTAKE CARDS **/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.cardcard{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  
}

.container{
  position: relative;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin:20px;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #931314;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'cabe';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #931314;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: red;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}







/** MOC **/



.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


a:hover {
  text-decoration: none;
}

.ag-create_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 50px 0;
}
.ag-create_item {
  display: block;
  width: 30%;
  background-color: #000;

  overflow: hidden;

  position: relative;
}
.ag-create_item video {
  display: block;
  max-width: 100%;
  margin: -8% auto 0;
  position: relative;
}
.ag-create_item svg {
  height: 99%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.ag-create_item svg .cls-1 {
  fill: transparent;
  stroke: #5f5f5f;
  stroke-miterlimit: 10;

  -webkit-transition: stroke .4s linear;
  -moz-transition: stroke .4s linear;
  -o-transition: stroke .4s linear;
  transition: stroke .4s linear;
}
.ag-create_item svg .cls-2 {
  fill: #ff1923;

  opacity: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.ag-create_item svg .cls-3 {
  fill: transparent;

  stroke: #ff1923;
  stroke-miterlimit: 10;

  -webkit-transition: fill .4s linear;
  -moz-transition: fill .4s linear;
  -o-transition: fill .4s linear;
  transition: fill .4s linear;
}
.ag-create_item svg .cls-4 {
  fill: none;

  stroke-miterlimit: 10;
  stroke: #FFF;
}
.ag-create_title-item {
  width: 100%;
  margin-top: -8%;
  padding: 0 30px 25px;

  -webkit-text-stroke: 1px #FFF;
  stroke: 1px #FFF;

  text-align: left;
  font-size: 38px;
  color: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  position: relative;
}
.ag-create_item:hover .ag-create_title-item {
  -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0);
  stroke: 1px hsla(0, 0%, 100%, 0);

  color: #FFF;
}
.ag-create_item:hover svg .cls-1 {
  stroke: #FFF;
}
.ag-create_item:hover svg .cls-2 {
  opacity: 1;
}


@media only screen and (max-width: 1161px) {
  .ag-create_item {
    width: 31%;
  }
  .ag-create_title-item {
    font-size: 19px;
  }
}

@media only screen and (max-width: 979px) {
  .ag-create_box {
    display: block;
  }
  .ag-create_item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 40px;
  }
  .ag-create_item:last-child {
    margin-bottom: 0;
  }
  .ag-create_title-item {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}







/** union cards **/



.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 20px 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 450px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #b40018;
  color: #e4e4e4;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #e7e7e7;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #b40000;
}



.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #d80000 0%,
    #df0000 50%,
    #e60000c7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}



/*** 

====================================================================
		    Board of Directors
====================================================================

***/
/** Board of Directors **/
@keyframes colorful {
	0% {
	  filter: hue-rotate(0deg);
	}
	100% {
	  filter: hue-rotate(360deg);
	}
  }


  *,
  *::before,
  *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	appearance: none;
	border-style: none;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, span, p {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  .mbody {
	width: 100%;
	height: autos;
	background: #000000;
	/*scrollbar-width: none;
	overflow: hidden;
  
	&::-webkit-scrollbar {
	  width: 0;
	}*/
  }
  
  
  .mbody::-webkit-scrollbar {
	background: #020202;
	width: 10px;
  }
  .mbody::-webkit-scrollbar-track {
	background: #020202;
  }
  .mbody::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 1px;
  }
  .mbody::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   
  }
  .mbody::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   
  }
  .mbody .mcontainer {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em;
  }
  .mbody .mcontainer .mcard {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 1em;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	backdrop-filter: blur(40px);
	border: solid 2px transparent;
	background-clip: padding-box;
	box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
  }
  .mbody .mcontainer .mcard .mcontent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s;
  }
  .mbody .mcontainer .mcard .mcontent .img {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0, 0, 0, 0.25);
  }
  .mbody .mcontainer .mcard .mcontent .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .mbody .mcontainer .mcard .mcontent .mcardContent h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
  }
  .mbody .mcontainer .mcard .mcontent .cardContent h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
  }
  .mbody .mcontainer .mcard .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
  }
  .mbody .mcontainer .mcard .sci li {
	margin: 0 10px;
	transform: translateY(40px);
	opacity: 0;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
  }
  .mbody .mcontainer .mcard .sci li a {
	font-size: 24px;
  }
  .mbody .mcontainer .mcard:hover .mcontent {
	opacity: 1;
	transform: translateY(-20px);
  }
  .mbody .mcontainer .mcard:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
  }
